.slider
	.slider__items(style="display:none;")
		.slider__item(data-img="./assets/img/work-1.png" data-href="#1") 
			.slider__item-title Сайт школы онлайн <br />Образования
			.slider__item-descr HTML, CSS, JAVASCRIPT
		.slider__item(data-img="./assets/img/work-2.png" data-href="#2") 
			.slider__item-title Сайт школы онлайн <br />Образования
		.slider__item(data-img="./assets/img/work-3.png" data-href="#3") 
			.slider__item-title Сайт школы онлайн <br />Образования
			.slider__item-descr HTML, CSS, JAVASCRIPT
		.slider__item(data-img="./assets/img/work-4.png" data-href="#3") 
			.slider__item-title Сайт школы онлайн <br />Образования
			.slider__item-descr HTML, CSS, JAVASCRIPT


	//- .slider__init-pic 
	//- 	.slider__init-pic-item.slider__init-pic-item_hidden-no
	//- 		img(src="./assets/img/work-2.png" alt="" title="")
	//- .slider__about-unit
	//- 	.slider__unit-title
	//- 		.title.title_with-line.title_with-line-upper Сайт школы онлайн <br />Образования
	//- 	.slider__unit-descr HTML, CSS, JAVASCRIPT
	//- 	.slider__unit-link
	//- 		a.btn.btn_with-icon(href="#" title="" nofollow="") 
	//- 			+svg("link")
	//- 			span Посмотреть сайт

	//- .slider__nav
	//- 	a.slider__nav-btn.slider__nav-btn_prev(href="#" title="")
	//- 		span.slider__nav-btn-thumb
	//- 			img(src="./assets/img/work-1.png" alt="" title="")
	//- 		span.slider__nav-btn-thumb.slider__nav-btn-thumb_active
	//- 			img(src="./assets/img/work-3.png" alt="" title="")
	//- 		span.slider__nav-icon
	//- 	a.slider__nav-btn.slider__nav-btn_next(href="#" title="")
	//- 		span.slider__nav-btn-thumb.slider__nav-btn-thumb_active
	//- 			img(src="./assets/img/work-1.png" alt="" title="")
	//- 		span.slider__nav-btn-thumb
	//- 			img(src="./assets/img/work-2.png" alt="" title="")
	//- 		span.slider__nav-icon