block variables

.flipper(class=mix_element data-flip-id="main")
	.flipper__wrap
		.flipper__side.flipper__front
			include ../welcome/welcome
		.flipper__side.flipper__back
			include ../form/form-login
