extends ../main

block variables
	- var title = 'Обо мне'

block content	
	.page.page_full-height.page_two-bgcolors
		header.page__header.page__header_full-scr
			.page__header-social
				include ../blocks/social/social_white
			.page__header-nav
				include ../blocks/nav/nav

			.page__header-wrap
				.page__header-profile
					include ../blocks/profile/profile_big-name
				.page__header-title
					+svg("about_header","svg-bg")
				a.page__header-arr-down(href="#main" title="")
					+svg("arrow_down")

		main.section.row#main
			.row__col.row__col_w50.row__col_tablet-full-width
				.section__title
					h1.title.title_with-line.title_big Обо мне
						.title__bg-img
							+svg("about_header","svg-bg")
				.section__text.about
					.about__pic
						img(src="../assets/img/photo-big.jpg" alt="" title="")
					.about__title
						.title.title_with-line.title_with-line-upper Кто я
					.about__text
						p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
						p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
			.row__col.row__col_w50.row__col_tablet-full-width 
				.section__skills.skills
					.skills__title
						h2.title.title_with-line.title_with-line-upper Чем я могу быть <br /> вам полезен
					.skills__descr 
						p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
					if skills
						each category in ['Frontend', 'Workflow', 'Backend', 'CMS']
							.skills__dir
								.skills__dir-title= category
								ul.skills__dir-list
									each skill in skills
										if category.toLowerCase() == skill.category.toLowerCase()
											li.skills__dir-item(data-name=skill.title)
												svg(class="skill-graph" stroke-dasharray=skill.value+" 100" viewBox="0 0 38.2 38.2")
													circle(class="skill-graph__full" r="15.91" cx="19.1" cy="19.1")
													circle(class="skill-graph__part" r="15.91" cx="19.1" cy="19.1")

		footer.page__footer
			.page__footer-bg
				.map(id="map")
				script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXCjIJRjufIFLeAbTDHRwCgdmPk3OgFv8&callback=initMap" defer)
			.page__footer-sect
				.page__footer-content
						.page__footer-contacts.contacts
							.contacts__title
								.title.title_with-line.title_with-line-upper Контакты
							ul.contacts__list
								li.contacts__item
									span.contacts__icon
										+svg("skype")
									span.contacts__text teknaboy
								li.contacts__item
									span.contacts__icon
										+svg("envelope2")
									span.contacts__text u.krohmal@gmail.com
								li.contacts__item
									span.contacts__icon
										+svg("phone2")
									span.contacts__text +7 921 6460016
								li.contacts__item
									span.contacts__icon
										+svg("map_marker")
									span.contacts__text г. Санкт-Петербург
			.page__footer-sect.page__footer-sect_bg-gray.page__footer-sect_clear
				.page__footer-sect-wrap.row
					.row__col.row__col_w33.page__footer-col 
						.about-site Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
					.row__col.row__col_w33.page__footer-col 
						include ../blocks/simple-nav/simple-nav
						include ../blocks/social/social_hover-white
					.row__col.row__col_w33.page__footer-col.quote
						.quote__text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
						.quote__author — Martin Golding

			.page__footer-sect.page__footer-sect_bg-green.page__footer-sect_clear
				include ../blocks/copyright/copyright_light
				
	include ../blocks/preloader/preloader
