extends ../main

block variables
	- var title = 'Ошибка'

block content	
	.page.page_full-scr
		
		main.page__main
			include ../blocks/error/error
		
		footer.page__footer
			include ../blocks/copyright/copyright
			
	include ../blocks/preloader/preloader