.opinions
	.opinions__item
		.opinions__author-pic
			img(src="./assets/img/dima.jpg" alt="" title="")
		.opinions__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
		.opinions__author Ковальчук Дмитрий
		.opinions__author-status — основатель Loftschool
	.opinions__item
		.opinions__author-pic
			img(src="./assets/img/zar.jpg" alt="" title="")
		.opinions__text Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
		.opinions__author Зар Захаров
		.opinions__author-status — преподаватель