.social.social_white
	a.social__item.social__item_vk(href="" title="")
		+svg("vk")
	a.social__item.social__item_github(href="" title="")
		+svg("github")
	a.social__item.social__item_in(href="" title="")
		+svg("in")