.btns.btns-fixed
	ul.btns__list
		li.btns__item
			a.btns__link.flipper-trigger.flipper-trigger_front(href="#main" data-flip-id="main") На главную
		li.btns__item
			button.btns__link(type="submit") Войти