.btns
	ul.btns__list
		li.btns__item
			a.btns__link(href="/works.html" title="") Мои работы
		li.btns__item
			a.btns__link(href="/about.html" title="") Обо мне
		li.btns__item
			a.btns__link(href="/blog.html" title="") Блог