form.form(action="#" method="get")
	.form__wrap-blur
	.form__body
		.form__title.form__title_green
			.title.title_with-line.title_with-line-upper Связаться со мной
		label.form__row
			input.str-field.str-field_full-width.str-field_bg-opacity(type="text" value="" placeholder="Ваше имя" name="name")
		label.form__row
			input.str-field.str-field_full-width.str-field_bg-opacity(type="email" value="" placeholder="Ваш email" name="email")
		label.form__row
			textarea.text-field.text-field_fixed.text-field_full-width.text-field_bg-opacity(placeholder="Ваше сообщение" name="message")

	.form__btns
		include ../btns/btns-form-contacts			
