.nav
	a.nav__btn-menu.btn-menu(href="#")
		span Меню
	.nav__wrap
		ul.nav__list
			li.nav__list-item
				a.nav__list-item-lnk(href="/works.html") Мои работы
			li.nav__list-item
				a.nav__list-item-lnk(href="/blog.html") Блог
			li.nav__list-item
				a.nav__list-item-lnk(href="/about.html") Обо мне
			li.nav__list-item
				a.nav__list-item-lnk(href="/index.html") Авторизация