ul.page__footer-navi.simple-nav
	li.simple-nav__item 
		a.simple-nav__link(href="/works.html" title="") Мои работы
	li.simple-nav__item 
		a.simple-nav__link(href="/about.html" title="") Обо мне
	li.simple-nav__item 
		a.simple-nav__link(href="/blog.html" title="") Блог
	li.simple-nav__item 
		a.simple-nav__link(href="/index.html" title="") Авторизация